body {
    font-family: math;
    background-color: black;
    color: white;
  }

  h2 {
    margin-left: 220px;
    margin-top: 250px;
  }

  #para {
    color: rgb(0, 255, 136);
    font-size: 65px;
    margin-left: 220px;
    margin-top: -15px;
  }

  #para4 {
    font-size: 30px;
    margin-left: 160px;
  }

  .nav {
    text-align: right;
    padding: 10px;
  }

  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .nav li {
    display: inline;
    margin-left: 30px;
  }

  .nav a {
    font-size: 20px;
    text-decoration: none;
    color: white;
  }

  .nav a:hover {
    color: rgb(17, 195, 115);
  }

  #logo{
    width: 6%;
    float: left;
    margin-left: 15px;
  }

  .TG{
    margin-top: -10px;
  }

  .TG img{
    margin-top: -60px;
  }

  #img1{
    width: 3%;
    margin-left: 220px;
    margin-bottom: 70px;
  }

  #img1:hover{
    filter: invert(20%);
  }

  #img2 {
    margin-left: 10px;
    margin-bottom: 72px;
    width: 2.5%;
    filter: invert(1);
  }

  #img2:hover {
    filter: invert(70%);
  } 

  #img3{
    width: 7.5%;
    margin-bottom: 33px;
    margin-left: -15px;
  }

  #img3:hover{
    filter: invert(20%);
  }

  .right {
    margin-right: 230px;
    margin-top: -310px;
    width: 12%;
    float: right;
    transition: all .5s ease-in .3s;
  }

  .right:hover {
    height: 190px;
    width: 190px;
    border-radius: 100px;
    font-size: 50px;
  }

  #front{
    font-size: 25px;
    margin-left: 220px;
    margin-top: -60px;
  }